@use "colors";

// Define variables
$mainFont: "Josefin Sans", sans-serif;
$secondaryFont: "Aleo", serif;
$line-height: 4px;

//map function for fonts
$font-sizes: (
  "extra-small": 10px,
  "small": 14px,
  "normal": 16px,
  "medium": 20px,
  "large": 22px,
  "xx-large": 24px,
  "pro-large": 36px,
  "xxx-large": 48px,
);

// section one
.containerOne {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding: 60px 20px;

  background-image: url("/Images/buildings.png");

  background-size: cover;
  background-position: center;
  color: colors.$mainColor;

  &__text {
    h2 {
      font-family: $secondaryFont;
      font-size: map-get($font-sizes, "large");
      font-weight: 400;
      margin-bottom: 20px;
    }

    p {
      font-family: $mainFont;
      font-size: map-get($font-sizes, "small");
      font-weight: 400;
      line-height: 1.8;
      margin-bottom: 15px;
      text-align: left;
    }

    button {
      margin-top: 20px;
      padding: 12px 25px;

      border: none;
      background: colors.$secondColor;
      color: colors.$mainColor;

      font-family: $secondaryFont;
      font-size: map-get($font-sizes, "small");
      letter-spacing: 0.1rem;
      cursor: pointer;
    }

    button:hover {
      background-color: colors.$blackColor;
      border: 1px solid colors.$secondColor;
    }
  }

  &__images {
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    img {
      width: 100%;
      max-width: 280px;
      height: auto;
    }
  }
}

// Section two -spain container 1

.containerTwo {
  display: flex;
  justify-content: center;
  min-height: 500px;
  padding: 80px 20px;

  background-image: url("/Images/hotel.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: colors.$mainColor;

  &__content {
    background-color: colors.$sixthColor;
    opacity: 0.9;
    padding: 20px;
    margin-top: 60px;

    box-shadow: 10px 10px 5px colors.$blackColor;
    h2 {
      font-family: $mainFont;
      font-size: map-get($font-sizes, "normal");
      letter-spacing: 0.0938rem;
      margin-bottom: 10px;
    }
    h3 {
      font-family: $mainFont;
      font-size: map-get($font-sizes, "normal");
      margin-bottom: 10px;
    }
    p {
      font-family: $mainFont;
      font-size: map-get($font-sizes, "small");
      line-height: 1.5;
      margin-bottom: 50px;
    }

    button {
      max-width: 150px;
      width: 100%;
      min-height: auto;
      padding: 20px;
      cursor: pointer;

      background-color: colors.$secondColor;
      font-family: $secondaryFont;
      font-size: map-get($font-sizes, "small");
      color: colors.$mainColor;
      border: none;
      letter-spacing: 0.075rem;
    }

    button:hover {
      background-color: colors.$blackColor;
      border: 1px solid colors.$secondColor;
    }
  }
}

// Section three -spain container 2

.containerThree {
  display: flex;
  justify-content: center;
  min-height: 500px;
  padding: 80px 20px;

  background-image: url("/Images/beach.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: colors.$mainColor;

  &__content {
    background-color: colors.$sixthColor;
    opacity: 0.9;
    padding: 20px;
    margin-top: 60px;

    box-shadow: 10px 10px 5px colors.$blackColor;
    h2 {
      font-family: $mainFont;
      font-size: map-get($font-sizes, "normal");
      letter-spacing: 0.0938rem;
      margin-bottom: 10px;
    }
    h3 {
      font-family: $mainFont;
      font-size: map-get($font-sizes, "normal");
      margin-bottom: 10px;
    }
    p {
      font-family: $mainFont;
      font-size: map-get($font-sizes, "small");
      line-height: 1.5;
      margin-bottom: 50px;
    }

    button {
      max-width: 150px;
      width: 100%;
      min-height: auto;
      padding: 20px;
      cursor: pointer;

      background-color: colors.$secondColor;
      font-family: $secondaryFont;
      font-size: map-get($font-sizes, "small");
      color: colors.$mainColor;
      border: none;
      letter-spacing: 0.075rem;
    }

    button:hover {
      background-color: colors.$blackColor;
      border: 1px solid colors.$secondColor;
    }
  }
}

// section four-last section in main

.containerFour {
  min-height: 500px;
  padding: 50px 20px;

  background-image: url("/Images/man1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: colors.$mainColor;

  h2 {
    text-align: center;
    font-family: $secondaryFont;
    font-weight: 400;
    font-size: map-get($font-sizes, "large");
    margin: 40px 0;
  }

  .containerFour__box {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    gap: 30px;

    max-width: 300px;
    margin: 0 auto;
    background-color: colors.$thirdColor;

    animation: fadeUp 1s ease;
  }
  .containerFour__image img {
    width: 100%;
    display: block;
  }
  .containerFour__text {
    h3 {
      font-family: $secondaryFont;
      font-size: map-get($font-sizes, "normal");
      font-weight: 400;
      padding: 5px 10px;
    }
    i {
      color: colors.$secondColor;
      font-size: 20px;
      margin-right: 5px;
    }

    p {
      font-family: $secondaryFont;
      font-size: map-get($font-sizes, "small");
      font-weight: 400;
      line-height: 1.5;
      padding: 0 20px 10px 0;
      text-align: left;
      padding: 5px 10px;
    }
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}