@use "colors";

// Define variables
$mainFont: "Josefin Sans", sans-serif;
$secondaryFont: "Aleo", serif;

//map function for fonts
$font-sizes: (
  "extra-small": 10px,
  "small": 14px,
  "normal": 16px,
  "medium": 20px,
  "large": 22px,
  "xx-large": 24px,
  "pro-large": 36px,
  "xxx-large": 48px,
);

// Tablet

@media (min-width: 768px) {
  .box {
    padding: 70px 20px 60px;
  }

  .box__search {
    max-width: 500px;
  }
  // navigation
  .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__left {
      p {
        font-size: map-get($font-sizes, "large");
      }
    }
    &__right {
      ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 50px;

        a {
          font-size: map-get($font-sizes, "small");
        }
      }
    }
    .sidenav {
      display: none;
    }
    .menu-icon {
      display: none;
    }
  }

  // section one

  .containerOne {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    text-align: left;
    padding: 80px 40px;

    &__text {
      h2 {
        font-size: map-get($font-sizes, "pro-large");
      }

      p {
        max-width: 550px;
        font-size: map-get($font-sizes, "normal");
      }
    }

    &__images {
      width: 40%;
      align-items: flex-end;

      img {
        max-width: 300px;
      }
    }
  }

  /* Steps*/

  .step__icon--search {
    font-size: 40px;
  }

  .step__icon--select {
    font-size: 40px;
  }

  .step__icon--book {
    font-size: 40px;
  }

  /* label */
  .step__label {
    font-size: map-get($font-sizes, "xx-large");
  }

  // section two

  .containerTwo {
    display: grid;
    grid-template-columns: 230px 500px 1fr 1fr;

    &__content {
      grid-column: 2/3;

      h2 {
        font-size: map-get($font-sizes, "medium");
      }
      h3 {
        font-size: map-get($font-sizes, "medium");
      }
      p {
        font-size: map-get($font-sizes, "normal");
      }

      button {
        font-size: map-get($font-sizes, "normal");
      }
    }
  }

  // section three
  .containerThree {
    display: grid;
    grid-template-columns: 1fr 1fr 500px 230px;

    &__content {
      grid-column: 3/4;

      h2 {
        font-size: map-get($font-sizes, "medium");
      }
      h3 {
        font-size: map-get($font-sizes, "medium");
      }
      p {
        font-size: map-get($font-sizes, "normal");
      }

      button {
        font-size: map-get($font-sizes, "normal");
      }
    }
  }

  // section four

  .containerFour {
    h2 {
      font-size: map-get($font-sizes, "pro-large");
    }

    .containerFour__box {
      display: grid;
      grid-template-columns: 400px 1fr;
      max-width: 800px;
    }

    .containerFour__text {
      h3 {
        font-size: map-get($font-sizes, "medium");
      }

      i {
        font-size: 50px;
      }

      p {
        font-size: map-get($font-sizes, "normal");
      }
    }
  }

  // footer
  footer {
    h3 {
      font-size: map-get($font-sizes, "xx-large");
    }

    h6 {
      font-size: map-get($font-sizes, "normal");
    }

    i {
      font-size: 20px;
    }
  }
}

//Desktop

@media (min-width: 1024px) {
  .box {
    min-height: 87vh;
    &__title {
      padding-top: 100px;
      h1 {
        font-size: map-get($font-sizes, "xxx-large");
      }
      h6 {
        font-size: map-get($font-sizes, "large");
      }
    }
    &__search {
      max-width: 650px;
      width: 90%;

      input {
        flex: 1;
        font-size: map-get($font-sizes, "small");
        line-height: 1.5;
      }
      button {
        display: flex;
        align-items: center;
        font-size: map-get($font-sizes, "small");
        line-height: 1.5;
      }
    }

    &__scroll {
      text-align: center;
      color: colors.$mainColor;

      p {
        font-size: map-get($font-sizes, "small");
      }
    }
  }
  // navigation
  .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__left {
      p {
        font-size: map-get($font-sizes, "xx-large");
      }
    }
    &__right {
      ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 50px;

        a {
          font-size: map-get($font-sizes, "small");
        }
      }
    }
    .sidenav {
      display: none;
    }
    .menu-icon {
      display: none;
    }
  }

  // section one

  .containerOne {
    padding: 80px;
  }

  .containerOne {
    padding: 120px 80px;

    &__text {
      h2 {
        font-size: map-get($font-sizes, "pro-large");
      }

      p {
        font-size: map-get($font-sizes, "normal");
      }
    }

    &__images {
      display: flex;

      img:first-child {
        align-self: flex-start;
      }
    }
  }

  // steps

  .step__icon--search {
    font-size: 50px;
  }

  .step__icon--select {
    font-size: 50px;
  }

  .step__icon--book {
    font-size: 50px;
  }

  /* label */
  .step__label {
    font-size: map-get($font-sizes, "pro-large");
  }

  // section two

  .containerTwo {
    display: grid;
    grid-template-columns: 230px 500px 1fr 1fr;

    &__content {
      grid-column: 2/3;

      h2 {
        font-size: map-get($font-sizes, "medium");
      }
      h3 {
        font-size: map-get($font-sizes, "medium");
      }
      p {
        font-size: map-get($font-sizes, "normal");
      }

      button {
        font-size: map-get($font-sizes, "normal");
      }
    }
  }

  // section three
  .containerThree {
    display: grid;
    grid-template-columns: 1fr 1fr 500px 230px;

    &__content {
      grid-column: 3/4;

      h2 {
        font-size: map-get($font-sizes, "medium");
      }
      h3 {
        font-size: map-get($font-sizes, "medium");
      }
      p {
        font-size: map-get($font-sizes, "normal");
      }

      button {
        font-size: map-get($font-sizes, "normal");
      }
    }
  }

  // section four

  .containerFour {
    h2 {
      font-size: map-get($font-sizes, "pro-large");
    }

    .containerFour__box {
      display: grid;
      grid-template-columns: 400px 1fr;
      max-width: 900px;
    }

    .containerFour__text {
      h3 {
        font-size: map-get($font-sizes, "medium");
      }

      i {
        font-size: 50px;
      }

      p {
        font-size: map-get($font-sizes, "normal");
      }
    }
  }

  // footer
  footer {
    h3 {
      font-size: map-get($font-sizes, "xx-large");
    }

    h6 {
      font-size: map-get($font-sizes, "normal");
    }

    i {
      font-size: 20px;
    }
  }
}
